XML/Primjer1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Products">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Product">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:short" name="ProductID"/>
              <xs:element type="xs:string" name="Name"/>
              <xs:element type="xs:string" name="ProductNumber"/>
              <xs:element type="xs:string" name="Color"/>
              <xs:element type="xs:float" name="StandardCost"/>
              <xs:element type="xs:float" name="ListPrice"/>
              <xs:element type="xs:byte" name="Size"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>